- content_for :list_menu do

  %h3 Links

- content_for :list do

  - if @links.any?

    %ul.links.media-list
      = render @links

    .pagination-wrapper.text-center.clearfix
      = will_paginate @links, previous_label: '&laquo;', next_label: '&raquo;'
      .page-entries-info= page_entries_info @links

  - else

    %h6 There are no links yet.
