- content_for :main do

  .link{ id: "link_#{@link.id}" }

    %h3.title
      = link_to @link.title, @link.url, target: '_blank'

    - if @link.html_content.present?
      .html-content= @link.html_content.html_safe
    - else
      .content= @link.content
