@import 'bourbon';

html {
  height: 100%;
}

body {
  height: 100%;
  padding-top: 0;
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  > .container-fluid {
    height: 100%;

    &:before {
      display: none;
    }

    > .row {
      height: 100%;

      &:before {
        display: none;
      }
    }
  }
}

.container-xs-height {
  display: table;
  padding-left: 0;
  padding-right: 0;
}

.row-xs-height {
  display: table-row;
}

.col-xs-height {
  display: table-cell;
  float: none;
}

.col-top {
  vertical-align: top;
}

.col-middle {
  vertical-align: middle;
}

.col-bottom {
  vertical-align: bottom;
}

@media (min-width: 768px) {

  .container-sm-height {
    display: table;
    padding-left: 0;
    padding-right: 0;
  }

  .row-sm-height {
    display: table-row;
  }

  .col-sm-height {
    display: table-cell;
    float: none;
  }
}

@media (min-width: 992px) {

  .container-md-height {
    display: table;
    padding-left: 0;
    padding-right: 0;
  }

  .row-md-height {
    display: table-row;
  }

  .col-md-height {
    display: table-cell;
    float: none;
  }
}

@media (min-width: 1200px) {

  .container-lg-height {
    display: table;
    padding-left: 0;
    padding-right: 0;
  }

  .row-lg-height {
    display: table-row;
  }

  .col-lg-height {
    display: table-cell;
    float: none;
  }
}

.layout-col {
  padding: 0;

  > .menu {
    width: 100%;
    height: 36px;
  }

  > .content {
    height: 100%;
    overflow: auto;
  }
}

#sidebar {
  min-width: 147px;
  background-color: #333139;
  @include box-shadow(1px 0 0 #242229);

  > .menu {
    @include box-shadow(0 1px 0 #413e49, inset 0 1px 2px #161519);
    @include background-image(linear-gradient(bottom, #2c2932 0%, #2e2c34 100%));
  }
}

#list {
  min-width: 324px;
  border-right: 1px solid #c9c3d1;
  background-color: #fff;

  > .menu {
    border-bottom: 1px solid #c9c4d2;
    @include box-shadow(0 1px 0 #c9c3d1);
    @include background-image(linear-gradient(bottom, #edeaf3 0%, #f5f3f9 100%));

    h3 {
      color: #6d6a73;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
      padding: 0;
      line-height: 35px;
    }
  }
}

#main {
  background-color: #fff;

  > .menu {
    height: 35px;
    @include box-shadow(0 1px 0 #c4bfcf, inset 0 1px 0 #fff);
    @include background-image(linear-gradient(bottom, #edeaf3 0%, #fff 100%));
  }
}
