@import 'bourbon';
@import 'mixins';

.tags {

  .css1 {
    font-size: 1.0em;
  }
  .css2 {
    font-size: 1.3em;
  }
  .css3 {
    font-size: 1.5em;
  }
  .css4 {
    font-size: 1.75em;
  }
}

.links {

  &.media-list {

    li.link {
      cursor: pointer;

      &:hover {

        .description {
          color: #c8dcff;
          text-shadow: 0 1px 0 rgba(0,0,0,.11);
        }

        .domain {
          color: #c8dcff;
          text-shadow: 0 1px 0 rgba(0,0,0,.11);
        }

        .title {
          color: #fff;
          text-shadow: 0 1px 0 rgba(0,0,0,.11);
        }

        .tag {
          color: #266bdc;
          box-shadow: 0 1px 0 rgba(0,0,0,.11);
          background-color: #c8dcff;
        }
      }

      .link-image {
        display: none;
      }

      h6 {
        line-height: 15px;
        @include transition(0);

        a {
          color: #266bdc;
          font-size: 13px;
          font-weight: bold;
          @include transition(0);
        }

        .domain {
          display: block;
          font-size: 11px;
          font-weight: normal;
          color: #97959d;
          padding-bottom: 3px;
          @include transition(0);
        }
      }

      .media-trigger {
        cursor: pointer;
        position: relative;
        top: 1px;
        font-size: 14px;

        &:hover {
          color: #16A085;
        }
      }

      p {
        @include wrap-text;
      }

      .description {
        color: #97959d;
        font-size: 11px;
        line-height: 17px;
        margin-bottom: 5px;
      }

      .posted-at {
        font-size: 13px;
        line-height: 13px;
        color: #C0C1C2;
        font-weight: 400;
        margin-bottom: 0;
      }

      .tags {
        padding-bottom: 3px;
      }

      .tag {
        color: #7B8996;
        font-weight: normal;
        background-color: #edebf3;
        @include transition(0);
      }

      .embed {
        margin: 5px 0;
        padding: 2px 0;
      }
    }
  }
}

#main {

  .link {
    padding: 10px 50px 140px 40px;
  }
}
