.pagination-wrapper {
  max-width: 80%;
  margin: 40px auto;
  padding-bottom: 60px;

  .pagination {
    display: inline-block;
    margin: 0 auto;
  }

  .page-entries-info {
    margin: 20px 0 0;
  }
}
