%nav.navbar.navbar-default.navbar-lg{role: "navigation"}
  .navbar-header
    %button.navbar-toggle{"data-target" => "#navbar_collapse", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
    = link_to 'MarkyMark', root_path, class: 'navbar-brand'
  #navbar_collapse.collapse.navbar-collapse
    %ul.nav.navbar-nav
      = render 'layouts/navigation_links'
    = render 'layouts/navigation_dropdown' if current_user
